/**
 * This file provides the specific dokiwiki styles.
 */

#dokuwiki__header {
    margin-top: 2em;
}

#dw__toc {
    float: none;
    width: auto;
    background-color: #fff;
    padding: 0px 30px 15px;
    color: inherit;
    margin: 0;
    border: 1px solid #bbb;
    border-radius: 5px;
}

.icon {
    padding-right: 10px;
}

#config__manager fieldset {
    background-color: #f8f8f8;
}

#config__manager tr.default .input, #config__manager tr.default input, #config__manager tr.default textarea, #config__manager tr.default select, #config__manager .selectiondefault {
    background-color: #fff;
}

#dw__toc ul li {
    list-style: inherit;
}

.search > div > .edit {
    border: 0;
    padding: 0;
    background: transparent;
    color: #fff;
    margin-top: 0;
    width: 150px;
    font-size: 17px;
}