/**
 * This file provides the styles for printing.
 */

/* hide certain sections */
audio,
video,
#dokuwiki__aside,
#dokuwiki__footer,
.dokuwiki .breadcrumbs,
.dokuwiki .toc,
#dokuwiki__header,
#dw__toc {
    display: none;
}

body {
    font: 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
}

a:link,
a:visited {
    text-decoration: none;
    border-bottom: 1pt dotted;
    color: #333;
    background-color: inherit;
}

/* code blocks */
code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

/* images */
img {
    border-width: 0;
    vertical-align: middle;
}
