/**
 * This file provides the most basic styles.
 */

 body {
    font: 400 17px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    margin: 0;
}

.content {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 980px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

a {
    color: #0070c9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.inline > li {
    display: inline;
    padding-left: 10px;
}

/* Code */

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

/* Navbar */

.nav {
    background: rgba(0,0,0,0.8);
    overflow: hidden;
}

.nav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    opacity: .65;
}

.nav form {
    padding: 14px 16px;
    float: left;
}

.nav-right {
    float:right;
}

/* Search */

.search > div > .edit {
    border: 0;
    padding: 7px;
    background: transparent;
    color: #fff;
    margin-top: -5px;
    font-size: 17px;
}

.search > div > button {
    display: none;
}
